# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Game files (don't commit copyrighted data)
*.wii
*.enBE
*.asrBE
*.asr
*.guiBE
*.elf
*.dol

# Extracted output
output/
exports/
*.obj
*.mtl
*.wav
*.png

# PyInstaller
*.spec
